
      body
      {
        margin: 0px;
      } 
      h1
      {
        font-size; 40px;
        font-family: Roboto;
        font-weight: normal;
        color: rgb(70, 155, 255);
      }
      
      #grid_container
      {

        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
        background-color:#333;
        
      }
      #header
      {
        grid-column: 1/6;
        grid-row: 1/2;
        
      }
      .navbar
      {
        position: fixed;
        background-color: white;
        width: 100%;
      }
      #navContainer
      {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
        grid-column: 1/2;
        grid-row: 1/auto;
        background-color: white;
        border-radius: 0px 0px 10px 0px;
        z-index: 1;

        
      }


      #navContainer nav
      {
          display: grid;
          grid-column: 1/2;
          grid-row: 1/5;
          border-radius: 0px 10px 10px 0px;
        
      }




      #body
      {
        display: grid;
        width:100%;
        height:100%;
        grid-template-columns: repeat( 7, minmax(50px,auto));
        grid-template-rows: repeat(7, minmax(100px,auto));
        grid-gap: 10px;

        
      }
       


      #navColumn
      {
          grid-column: 1/2;
          grid-row: 1/5;
          padding: 10%;
          gap: 10px;
      }

      .nav-item > .nav-link
      {
       
      }

      .nav-item > .nav-link
      {
        
      }
        
      #prod1
      {
        grid-column: 3/4;  
        grid-row: 2/3;
      }
        
      #prod2
      {
        grid-column: 4/5;
        grid-row: 2/3;
      }
        
      #prod3
      {
        grid-column: 5/6;
        grid-row: 2/3;
      }

      .block
      {
        background-color: #eee;
        border: 3px solid rgb(70, 155, 255);
        border-radius: 10% 10% 10% 10%;
        padding: 10%;
        text-align: left;

      } 